$main_color: #37363B;
$add_color:#F3E0CF;
$divider: #CCCCCC;
$ligh_accent: #92877C;

//pathes
//local
// $path_s: "/Users/anspirer/ukl/anspirer.github.io";
//github
$path_s: "https://anspirer.github.io";
//
$path_as:"#{$path_s}/assets";


body { 
  margin: 0 auto;
  width: 96.87%;
  max-width: 96.87%;/* Не трогать отвечает за автосмещение при сужении окна */
  overscroll-behavior-y: contain;

}
.main_area {
  position: relative;
  .wrapper {
    display: grid;
    .child {
      height: 100px;
      background: aliceblue;
    }
  }

}
@media screen and (max-width: 1920px) {
body { 
width: 96.87%;
max-width: 96.87%;/* Не трогать отвечает за автосмещение при сужении окна */
}
}
@media screen and (max-width: 1440px) {
body { 
  width: 94.44%;
  max-width:94.44%;/* Не трогать отвечает за автосмещение при сужении окна */
}
}
@media screen and (max-width: 1025px ) {
  body { 
    width: 100%;
    max-width:100%;/* Не трогать отвечает за автосмещение при сужении окна */
  }
}


@font-face {
  font-family: 'Golos UI Regular';
   src: url("#{$path_as}/fonts/golos-ui_regular.woff") format('woff');
}
@font-face {
  font-family: 'Golos UI-Medium';
   src: url("#{$path_as}/fonts/golos-ui_medium.woff") format('woff');
}
.PreHolder {
  position: fixed;
  top: 0;
  width: 96.87%;
	height: 50px;
  display: flex;
  justify-content: space-between;
	align-items: center;
	justify-items: center;
  overflow-wrap: break-word;
  word-wrap: break-word;
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
	z-index: 102;
  transition: top 0.3s ease;
  .left_preh {
    height: 50px;
    display: flex;
    align-items: stretch;
    -webkit-align-items:stretch;

    .GeoLoc, .PhonePre {
      align-items: center;
      -webkit-align-items:center;
    img {
      padding-right: 10px;
    }
    }
  }
  .rigt_links {
    align-items: center;
    -webkit-align-items:center;
    height: 50px;
    display: flex;
    margin-left: auto;
    background-image: url("#{$path_as}/back_tex.svg") ;
    background-repeat: repeat;
  }
  background-image: url("#{$path_as}/back_tex.svg") ;
  background-repeat: repeat;
  button {
    display: flex;
    align-items: stretch;
    padding: 10px 20px 10px 20px;
    -webkit-align-items:stretch;
    border: none;
    white-space: nowrap;
    text-wrap: nowrap;
    font-family: "Golos UI Regular", Helvetica;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: $ligh_accent;
    background-image: url("#{$path_as}/back_tex.svg") ;
    background-repeat: repeat;
  }
}
@media screen and (max-width: 1920px) { 
  .PreHolder {
  width: 96.87%;
  }
}
@media screen and (max-width: 1440px) { 
  .PreHolder {
  width: 94.44%;
  }
}
@media screen and (max-width: 1025px) { 
  .PreHolder {
  width: 100%;
  }
}
.new_nav {
  position: relative;
	width: 100%;
  max-width: 100%;
	margin-left: auto;
	margin-right: auto;
	position: sticky;
	top: 50px;
	z-index: 101;
	height: 60px;
	display: flex;
	align-items: center;
	justify-items: center;
  overflow-wrap: break-word;
  word-wrap: break-word;
  transition: top 0.3s ease;
}
.new_nav > button:not(.m_logo) {
  height: 60px;
  font-family: "Golos UI Regular", Helvetica;
  background-image: url("#{$path_as}/back_tex.svg") ;
  background-repeat: repeat;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0;
  word-wrap: break-word;
  word-break: unset;
  white-space:nowrap;
  overflow-wrap: unset;

  -webkit-hyphens: unset;
  -moz-hyphens: unset;
  -ms-hyphens: unset;
  hyphens: unset;
}

.m_logo {
  display: flex;
  position: relative;
  padding: 19px 33px 16px;
  background-color: $main_color;
  border: 1px $divider solid;
  border-right: 0.5px;
  border-top-left-radius: 10px;
}

.btn_cat {
  display: flex;
  align-items: center;
  -webkit-align-items:center;
  max-width: 160px;
  position: relative;
  padding: 17px 22px 17px 22px;
  text-wrap: nowrap;
  background-image: url("#{$path_as}/back_tex.svg") ;
  background-repeat: repeat;
  color: $main_color;
  img {
    margin-right: 11px;
  }
  border: 1px $divider solid;
}
.srch_sec  {
  align-items: stretch;
  -webkit-align-items:stretch;
  display: flex;
  justify-content: space-between;
  width: 1702px;
  background-image: url("#{$path_as}/back_tex.svg") ;
  background-repeat: repeat;
  color: $main_color;
  border: 1px $divider solid;
  border-left: none;
  padding: 17px 22px 17px 22px;
  .btn_srch {
    width: 97%;
  }
  img {
    width: 20px;
    position:relative;
  }
}
.srch_sec input {
  font-size: 16px;
  background-image: url("#{$path_as}/back_tex.svg") ;
  background-repeat: repeat;
  border: none;
}
.srch_sec input::placeholder {
    height: 69.55px;
    position: relative;
    margin-left: 20px;
    color: $ligh_accent;
    font-family: "Golos UI-Regular", Helvetica;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 16px;
    white-space: nowrap;
    text-transform: uppercase;
}

.btn_shp {
  display: flex;
  align-items: center;
  -webkit-align-items:center;
  width: 130px;
  text-wrap: nowrap;
  position: relative;
  padding: 17px 20px 17px 20px;
  background-color: #FFFFFF;
  color: $main_color;
  img {
    padding-right: 10px;
  }
  border: 1px $divider solid;
  border-left: none;

}

.btn_fav {
  display: flex;
  align-items: stretch;
  -webkit-align-items:stretch;
  background-image: url("#{$path_as}/back_tex.svg") ;
  background-repeat: repeat;
  color: $main_color;
  border: 1px $divider solid;
  border-left: none;
  padding:  20px 20px 20px 20px;
  img {
    width: 16.3px;
  }
}

.btn_cal {
  display: flex;
  align-items: stretch;
  -webkit-align-items:stretch;
  background-image: url("#{$path_as}/back_tex.svg") ;
  background-repeat: repeat;
  color: $main_color;
  border: 1px $divider solid;
  border-left: none;
  padding:  19px 20px 19px 20px;
  img {
    width: 16.3px;
  }
}
.btn_prfl {
  display: flex;
  align-items: stretch;
  -webkit-align-items:stretch;
  background-color: transparent;
  color: $add_color;
  border: 1px $divider solid;
  border-left: none;
  padding: 19px 20px 19px 20px;
  border-top-right-radius: 10px;
  img {
    width: 17.9px;
  }
}

nav {
  display: none;
}
